{% ckan_extends %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">
        {% block page_heading %}{{ _('Register for an Account') }}{% endblock %}
      </h1>

      <fieldset>
        <legend>{{ _('Use your email address') }}</legend>
        <div class="control-group control-medium">
          {% snippet 'snippets/persona_login_button.html' %}
        </div>
      </fieldset>

      <fieldset>
        <legend>{{ _('Create a new username and password for') }} {{ app_globals.site_title }}</legend>
        <div class="control-group control-medium">
          {{ c.form | safe }}
        </div>
      </fieldset>
    </div>
  </article>
{% endblock %}
